<!DOCTYPE html>
<html>

<head>
    <title>Pass-Shield</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <h1>Pass-Shield</h1>
    <marquee> Quickly generate a strong and unpredictable password </marquee>
    <div class = "container">
        <h2> Craft Your Personalized Password </h2>
        <form action="/generate" method="post">
            <label for="length">Password Length:</label>
            <input type="number" id="length" name="length" min="6" max="30" required><br><br>
            <label><input type="checkbox" name="uppercase">Include Uppercase Letters</label><br>
            <label><input type="checkbox" name="lowercase">Include Lowercase Letters</label><br>
            <label><input type="checkbox" name="numbers">Include Numbers</label><br>
            <label><input type="checkbox" name="symbols">Include Symbols</label><br><br>
            <input type="submit" value="Generate Password" class  = "generate-button">
        </form>
    </div>
    
    <div class = "password-container">
        {% if password %}
        <h2>Generated Password:</h2>
        <p>{{ password }}</p>
        <button class = "copy-button" onclick="copyPassword()">Copy Password</button>
        <script>
            var password = "{{ password }}";
            var copyButton = document.querySelector("button");
            copyButton.addEventListener("click", function() {
                navigator.clipboard.writeText(password).then(function() {
                    alert("Password copied to clipboard!");
                });
            });
        </script>
    {% endif %}
    </div>

    <footer>
        <div class="developer-info">
            <span class="developer-symbol">&#x1F9D1&#x200D;&#x1F4BB;</span>
            <span class="developer-name">Developed By Hemateja Pulikanti</span>
        </div>
    </footer>
    
</body>
</html>
